<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.ec.mapper.BannerMapper">
    
    <!-- 添加 返回主键id -->
    <insert id="insert" parameterType="com.rockies.ec.model.Banner" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO banner(name,desp,sequence,mediaMp4Path,mediaOgvPath,mediaWebmPath,imgPath,ctdt,ctuser,updt,upuser) 
    	values(#{name},#{desp},#{sequence},#{mediaMp4Path},#{mediaOgvPath},#{mediaWebmPath},#{imgPath},#{ctdt},#{ctuser},#{updt},#{upuser})
    </insert>
    
    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    	delete from banner where id=#{id}
    </delete>
    
    <!-- 获取对象集合 -->
    <select id="getAllList" resultType="com.rockies.ec.model.Banner">
    	select * from banner
    </select>
    
    <!-- 获取对象集合 parameterType="Map" 选择是否分页-->
    <select id="getAllListByMap" resultType="com.rockies.ec.model.Banner" parameterType="Map">
    	select * from banner
    	<where>
    		1=1
			<if test="name!=null">
		  		and name like "%${name}%" 
			</if>
			<if test="ctdt!=null and ctdd!=''">
				and ctdt=#{ctdt}
			</if>
			<if test="ctuser!=null and ctuser!=''">
				and ctuser=#{ctuser}
			</if>
			<if test="upuser!=null">
				and upuser=#{upuser}
			</if>
			<if test="updt!=null and updt!=''">
				and updt=#{updt}
			</if>
    	</where>
		<if test="offset!=null and limit!=null">
			limit #{offset},#{limit}
		</if>
    </select>
    
    
    <!-- 获取map集合  parameterType="Map" 分页-->
    <select id="getAllListMap" resultType="Map" parameterType="Map">
    	SELECT * FROM banner 
		  <where>
		  	1=1
		  	<if test="name!=null">
		  		AND name like "%${name}%" 
			</if>
			<if test="ctdt!=null and ctdd!=''">
				AND ctdt=#{ctdt}
			</if>
			<if test="ctuser!=null and ctuser!=''">
				AND ctuser=#{ctuser}
			</if>
			<if test="upuser!=null">
				AND upuser=#{upuser}
			</if>
			<if test="updt!=null and updt!=''">
				AND updt=#{updt}
			</if>
		  </where>
		<if test="offset!=null and limit!=null">
			limit #{offset},#{limit}
		</if>
    </select>
    
    <!-- 根据主键获取一个对象-->
    <select id="getOneByPrimaryKey" resultType="com.rockies.ec.model.Banner" parameterType="java.lang.Integer">
    	select * from banner where id=#{id}
    </select>
    
    <!-- 总记录数-->
    <select id="getCount" resultType="java.lang.Long" parameterType="Map">
    	select count(*) from banner 
    	<where>
    		1=1
			<if test="name!=null">
		  		and name like "%${name}%" 
			</if>
			<if test="ctdt!=null and ctdd!=''">
				and ctdt=#{ctdt}
			</if>
			<if test="ctuser!=null and ctuser!=''">
				and ctuser=#{ctuser}
			</if>
			<if test="upuser!=null">
				and upuser=#{upuser}
			</if>
			<if test="updt!=null and updt!=''">
				and updt=#{updt}
			</if>
    	</where>
    </select>
    
    <update id="updateObject"  parameterType="Map">
    	update banner 
		<set>
			<if test="name!=null">
		  		name=#{name},
			</if>
			<if test="desp!=null">
		  		desp=#{desp},
			</if>
			<if test="sequence!=null">
		  		sequence=#{sequence},
			</if>
			<if test="mediaMp4Path!=null">
		  		mediaMp4Path=#{mediaMp4Path},
			</if>
			<if test="mediaOgvPath!=null">
		  		mediaOgvPath=#{mediaOgvPath},
			</if>
			<if test="mediaWebmPath!=null">
		  		mediaWebmPath=#{mediaWebmPath},
			</if>
			<if test="imgPath!=null">
		  		imgPath=#{imgPath},
			</if>
			<if test="ctdt!=null">
				ctdt=#{ctdt},
			</if>
			<if test="ctuser!=null">
				ctuser=#{ctuser},
			</if>
			<if test="upuser!=null">
				upuser=#{upuser},
			</if>
			<if test="updt!=null">
				updt=#{updt}
			</if>
		</set>
		where id=#{id}
    </update>
    
</mapper>