<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.ec.mapper.CityMapper">
	
	<insert id="saveCity" parameterType="com.rockies.ec.model.City">
        INSERT INTO city(cityName,cityNameEn,cityCode,parentId,isHot,ctdt,ctuser,updt,upuser)
		VALUES(#{cityName},#{cityNameEn},#{cityCode},#{parentId},#{isHot},#{ctdt},#{ctuser},#{updt},#{upuser})
    </insert>
    
    <select id="getCity" resultType="com.rockies.ec.model.City">
		select * from city where id=#{id}
    </select>
    <select id="getCityTwo" resultType="com.rockies.ec.model.City">
		SELECT * FROM city c WHERE c.`parentId` IN(SELECT id FROM city WHERE parentId=0)
    </select>
    
    <select id="checkCityCode" resultType="Integer" parameterType="java.lang.String">
		select count(*) from city where cityCode=#{cityCode}
    </select>
    
    <select id="getCityByCityCode" resultType="Integer" parameterType="java.lang.String">
		SELECT * FROM city WHERE parentId=(SELECT parentId FROM city WHERE cityCode=#{cityCode}) 
    </select>
    
    <select id="getCityList" resultType="com.rockies.ec.model.City" parameterType="Map">
		select * from city where parentId=#{parentId} 
		<if test="offset!=null and limit != ''">
		  limit #{offset},#{limit};
		</if>
    </select>
    
    <select id="getCityListCount" resultType="java.lang.Integer" parameterType="Map">
		select count(*) from city where parentId=#{parentId}
    </select>
    
    <update id="updateCity" parameterType="com.rockies.ec.model.City">
		update city 
		<set>
			<if test="cityName!=null and cityName!=''">
				cityName=#{cityName},
			</if>
			<if test="cityNameEn!=null and cityNameEn!=''">
				cityNameEn=#{cityNameEn},
			</if>
			<if test="cityCode!=null and cityCode!=''">
				cityCode=#{cityCode},
			</if>
			<if test="parentId !=null and parentId !=''">
				parentId=#{parentId},
			</if>
			<if test="isHot !=null and isHot !=''">
				isHot=#{isHot},
			</if>
			<if test="ctdt!=null">
				ctdt=#{ctdt},
			</if>
			<if test="ctuser!=null">
				ctuser=#{ctuser},
			</if>
			<if test="upuser!=null">
				upuser=#{upuser},
			</if>
			<if test="updt!=null">
				updt=#{updt}
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="deleteCity" parameterType="java.lang.Integer">
		delete from city where id=#{id}
	</delete>
    
</mapper>