<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.mapper.ISuppliersContractorMapper">
    
    <select id="getSuppliersContractorBeanList"  resultType="Map" parameterType="Map" >
		SELECT * 
		from suppliers_contractor s
		where s.sid=#{sid}
		<if test="c_name!=null">
		  and s.c_name like "%"#{c_name}"%" 
		</if>
		limit #{offset},#{limit};
    </select>
    
     <select id="getCount"  parameterType="Map" resultType="java.lang.Integer" >
		SELECT count(*) FROM suppliers_contractor where sid=#{sid} 
		<if test="c_name!=null">
		  and c_name like "%"#{c_name}"%" 
		</if>
    </select>
    
    <select id="getSuppliersContractor" parameterType="java.lang.Integer" resultType="com.rockies.model.SuppliersContractorBean">
		select * from suppliers_contractor where cid=#{cid}
	</select>
	
	<select id="getSuppliersContractorBySid" parameterType="java.lang.Long" resultType="com.rockies.model.SuppliersContractorBean">
		select * from suppliers_contractor where sid=#{sid} ORDER BY updt DESC LIMIT 1
	</select>
	
	
	
	<insert id="save" parameterType="com.rockies.model.SuppliersContractorBean" >
		insert into suppliers_contractor values(
		null,
		#{sid},
		#{c_name},
		#{c_tel},
		#{c_mobile_phone},
		#{c_email},
		#{c_fax},
		#{c_address},
		#{is_primary},
		#{ctdt},
		#{ctuser},
		#{updt},
		#{upuser}
		)
	</insert>
	
	<update id="update" parameterType="com.rockies.model.SuppliersContractorBean" >
		update suppliers_contractor 
		<set>
			<if test="c_name!=null">
				c_name=#{c_name},
			</if>
			<if test="c_tel!=null">
				c_tel=#{c_tel},
			</if>
			<if test="c_mobile_phone!=null">
				c_mobile_phone=#{c_mobile_phone},
			</if>
			<if test="c_email!=null">
				c_email=#{c_email},
			</if>
			<if test="c_fax!=null">
				c_fax=#{c_fax},
			</if>
			<if test="c_address!=null">
				c_address=#{c_address},
			</if>
			<if test="is_primary!=null">
				is_primary=#{is_primary},
			</if>
			<if test="ctdt!=null">
				ctdt=#{ctdt},
			</if>
			<if test="ctuser!=null">
				ctuser=#{ctuser},
			</if>
			<if test="upuser!=null">
				upuser=#{upuser},
			</if>
			<if test="updt!=null">
				updt=#{updt}
			</if>
			where cid=#{cid}
		</set>
	</update>
	
	<delete id="deleteByCid" parameterType="java.lang.Integer">
		delete from suppliers_contractor where cid=#{cid}
	</delete>
    
</mapper>