<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rockies.mapper.TrafficRegularPriceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.rockies.model.TrafficRegularPriceInfo" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <id column="departtime" property="departtime" jdbcType="VARCHAR" />
    <result column="carbrand" property="carbrand" jdbcType="VARCHAR" />
    <result column="maxpeople" property="maxpeople" jdbcType="INTEGER" />
    <result column="luggage" property="luggage" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="prepay" property="prepay" jdbcType="DECIMAL" />
    <result column="car_img" property="carImg" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="ctdt" property="ctdt" jdbcType="TIMESTAMP" />
    <result column="ctuser" property="ctuser" jdbcType="VARCHAR" />
    <result column="updt" property="updt" jdbcType="TIMESTAMP" />
    <result column="upuser" property="upuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, departtime, carbrand, maxpeople, luggage, price, prepay, car_img, del_flg, order_num, 
    ctdt, ctuser, updt, upuser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    select 
    <include refid="Base_Column_List" />
    from traffic_regular_price
    where pid = #{pid,jdbcType=VARCHAR}
      and departtime = #{departtime,jdbcType=VARCHAR}
  </select>
  <select id="selectAllListByParam" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from traffic_regular_price
    <where>
    	del_flg=0
    	<if test="carbrand !=null  and carbrand != ''">
		  and carbrand like "%"#{carbrand,jdbcType=VARCHAR}"%" 
		</if>
		<if test="pid !=null and pid != ''">
		  and pid = #{pid,jdbcType=VARCHAR}
		</if>
    </where>
    order by order_num
    <if test="offset!=null and limit != ''">
	  limit #{offset},#{limit};
	</if>
  </select>
  <select id="getCount"  parameterType="Map" resultType="java.lang.Integer" >
	select  count(*) from traffic_regular_price
	<where>
		del_flg=0
    	<if test="carbrand !=null  and carbrand != ''">
		  and carbrand like "%"#{carbrand,jdbcType=VARCHAR}"%" 
		</if>
		<if test="pid !=null and pid != ''">
		  and pid = #{pid,jdbcType=VARCHAR}
		</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    delete from traffic_regular_price
    where pid = #{pid,jdbcType=VARCHAR}
      and departtime = #{departtime,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    insert into traffic_regular_price (pid, departtime, carbrand, 
      maxpeople, luggage, price, 
      prepay, car_img, del_flg, 
      order_num, ctdt, ctuser, 
      updt, upuser)
    values (#{pid,jdbcType=VARCHAR}, #{departtime,jdbcType=VARCHAR}, #{carbrand,jdbcType=VARCHAR}, 
      #{maxpeople,jdbcType=INTEGER}, #{luggage,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{prepay,jdbcType=DECIMAL}, #{carImg,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{ctdt,jdbcType=TIMESTAMP}, #{ctuser,jdbcType=VARCHAR}, 
      #{updt,jdbcType=TIMESTAMP}, #{upuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    insert into traffic_regular_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="departtime != null" >
        departtime,
      </if>
      <if test="carbrand != null" >
        carbrand,
      </if>
      <if test="maxpeople != null" >
        maxpeople,
      </if>
      <if test="luggage != null" >
        luggage,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="prepay != null" >
        prepay,
      </if>
      <if test="carImg != null" >
        car_img,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="ctdt != null" >
        ctdt,
      </if>
      <if test="ctuser != null" >
        ctuser,
      </if>
      <if test="updt != null" >
        updt,
      </if>
      <if test="upuser != null" >
        upuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="departtime != null" >
        #{departtime,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null" >
        #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="maxpeople != null" >
        #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="luggage != null" >
        #{luggage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="prepay != null" >
        #{prepay,jdbcType=DECIMAL},
      </if>
      <if test="carImg != null" >
        #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="ctdt != null" >
        #{ctdt,jdbcType=TIMESTAMP},
      </if>
      <if test="ctuser != null" >
        #{ctuser,jdbcType=VARCHAR},
      </if>
      <if test="updt != null" >
        #{updt,jdbcType=TIMESTAMP},
      </if>
      <if test="upuser != null" >
        #{upuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    update traffic_regular_price
    <set >
      <if test="carbrand != null" >
        carbrand = #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="maxpeople != null" >
        maxpeople = #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="luggage != null" >
        luggage = #{luggage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="prepay != null" >
        prepay = #{prepay,jdbcType=DECIMAL},
      </if>
      <if test="carImg != null" >
        car_img = #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="ctdt != null" >
        ctdt = #{ctdt,jdbcType=TIMESTAMP},
      </if>
      <if test="ctuser != null" >
        ctuser = #{ctuser,jdbcType=VARCHAR},
      </if>
      <if test="updt != null" >
        updt = #{updt,jdbcType=TIMESTAMP},
      </if>
      <if test="upuser != null" >
        upuser = #{upuser,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
      and departtime = #{departtime,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rockies.model.TrafficRegularPriceInfo" >
    update traffic_regular_price
    set carbrand = #{carbrand,jdbcType=VARCHAR},
      maxpeople = #{maxpeople,jdbcType=INTEGER},
      luggage = #{luggage,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      prepay = #{prepay,jdbcType=DECIMAL},
      car_img = #{carImg,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      ctdt = #{ctdt,jdbcType=TIMESTAMP},
      ctuser = #{ctuser,jdbcType=VARCHAR},
      updt = #{updt,jdbcType=TIMESTAMP},
      upuser = #{upuser,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
      and departtime = #{departtime,jdbcType=VARCHAR}
  </update>
</mapper>