<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rockies.mapper.MessageHistoryMapper">

    <insert id="save" parameterType="com.rockies.model.MessageHistory">
    	INSERT INTO message_history(`type`,`from`,`to`,`message`,`sendTime`)
    	values(#{type},#{from},#{to},#{message},#{sendTime})
    </insert>

    <select id="get" resultType="com.rockies.model.MessageHistory" parameterType="Map">
        select * from message_history
        <where>
            1=1
            <if test="name!=type">
                and `type` = #{type}
            </if>
            <if test="from!=null">
                and `from`=#{from}
            </if>
            <if test="to!=null">
                and `to`=#{to}
            </if>
        </where>
        <if test="offset!=null and limit!=null">
            limit #{offset},#{limit}
        </if>
    </select>

</mapper>