<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.mapper.ProductOrderMapper">
    <resultMap id="productOrder" type="com.rockies.model.ProductOrder" >
	    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
	    <result column="runing_no" property="runingNo" jdbcType="VARCHAR" />
	    <result column="pid" property="pid" jdbcType="VARCHAR" />
	    <result column="inday" property="inday" jdbcType="TIMESTAMP" />
	    <result column="attime" property="attime" jdbcType="VARCHAR" />
	    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
	    <result column="pname" property="pname" jdbcType="VARCHAR" />
	    <result column="pname_en" property="pname_en" jdbcType="VARCHAR" />
	    <result column="continent" property="continent" jdbcType="VARCHAR" />
	    <result column="country" property="country" jdbcType="VARCHAR" />
	    <result column="city" property="city" jdbcType="VARCHAR" />
	    <result column="supplier_no" property="supplier_no" jdbcType="VARCHAR" />
	    <result column="startdate" property="startdate" jdbcType="TIMESTAMP" />
	    <result column="enddate" property="enddate" jdbcType="TIMESTAMP" />
	    <result column="topic" property="topic" jdbcType="VARCHAR" />
	    <result column="list_img" property="list_img" jdbcType="VARCHAR" />
	    <result column="size_img1" property="size_img1" jdbcType="VARCHAR" />
	    <result column="size_img2" property="size_img2" jdbcType="VARCHAR" />
	    <result column="size_img3" property="size_img3" jdbcType="VARCHAR" />
	    <result column="size_img4" property="size_img4" jdbcType="VARCHAR" />
	    <result column="size_img5" property="size_img5" jdbcType="VARCHAR" />
	    <result column="start_price" property="start_price" jdbcType="DECIMAL" />
	    <result column="prepay" property="prepay" jdbcType="DECIMAL" />
	    <result column="del_flg" property="delFlg" jdbcType="VARCHAR" />
	    <result column="fromcity" property="fromcity" jdbcType="VARCHAR" />
	    <result column="map_address" property="map_address" jdbcType="VARCHAR" />
	    <result column="map_lng" property="map_lng" jdbcType="VARCHAR" />
	    <result column="map_lat" property="map_lat" jdbcType="VARCHAR" />
	    <result column="tags" property="tags" jdbcType="VARCHAR" />
	    <result column="confirm_status" property="confirmStatus" jdbcType="VARCHAR" />
	    <result column="confirm_img" property="confirmImg" jdbcType="VARCHAR" />
	    <result column="confirm_time" property="confirm_time" jdbcType="INTEGER" />
	    <result column="ctdt" property="ctdt" jdbcType="TIMESTAMP" />
	    <result column="ctuser" property="ctuser" jdbcType="VARCHAR" />
	    <result column="updt" property="updt" jdbcType="TIMESTAMP" />
	    <result column="upuser" property="upuser" jdbcType="VARCHAR" />
	    <result column="traffic_type" property="traffic_type" jdbcType="VARCHAR" />
	</resultMap>
    <sql id="Base_Column_List" >
	   id, `order_no`,`runing_no`,`pid`,`inday`,`attime`,`ptype`,
        `pname`,`pname_en`,`continent`,`country`,`city`,`supplier_no`,
        `startdate`,`enddate`,`topic`,`list_img`,`size_img1`,`size_img2`,
        `size_img3`,`size_img4`,`size_img5`,`start_price`,`prepay`,`del_flg`,
        `fromcity`,`map_address`,`map_lng`,`map_lat`, `tags`,`confirm_status`,
        `confirm_img`,`confirm_time`, `ctdt`,`ctuser`,`updt`,`upuser`,`traffic_type`
   </sql>
  
  <insert id="saveProductOrder" parameterType="com.rockies.model.ProductOrder">
  	INSERT INTO product_order (<include refid="Base_Column_List" />)
	VALUES (
		null,#{orderNo},#{runingNo},#{pid},#{inday},#{attime},#{ptype},
        #{pname},#{pname_en},#{continent},#{country},#{city},#{supplier_no},
        #{startdate},#{enddate},#{topic},#{list_img},#{size_img1},#{size_img2},
        #{size_img3},#{size_img4},#{size_img5},#{start_price},#{prepay},#{delFlg},
        #{fromcity},#{map_address},#{map_lng},#{map_lat}, #{tags},#{confirmStatus},
        #{confirmImg},#{confirm_time},#{ctdt},#{ctuser},#{updt},#{upuser},#{traffic_type}
	);
  </insert>
  
  <select id="getRouteOrderInfo" parameterType="java.lang.String" resultType="Map">
   		SELECT  ro.`enddate`,po.confirm_status as confirmStatus,po.`confirm_img`,po.`pname`,SUM(pod.`peoplecnt`) AS peoplecnt,SUM(pod.`unit_price`) AS unitPrice,SUM(pod.`amount`) AS amount,ro.`order_no` as orderNo,pod.`pid`,po.`runing_no` as runingNo
		FROM route_order ro 
		  LEFT JOIN product_order po 
		    ON ro.`order_no` = po.`order_no` 
		  LEFT JOIN product_order_detail pod
		    ON po.`pid`=pod.`pid`
	    where ro.`order_no`=#{orderNo}
   </select>
   
   <select id="getProductOrderDetail" resultType="Map" parameterType="Map">
   		SELECT  po.`order_no` as orderNo,pod.`price_item` as priceItem,po.`pid`,po.`ptype`,pod.`peoplecnt`,pod.`unit_price` as unitPrice ,pod.`amount`,po.`runing_no` as runingNo
	FROM product_order po 
	  LEFT JOIN product_order_detail pod 
	    ON po.`pid` = pod.`pid` 
	    AND po.`order_no` = pod.`order_no` 
	   WHERE po.`order_no`=#{orderNo} AND po.`pid`=#{pid}
   </select>
   
   <select id="getOrderCusInfo" resultType="Map" parameterType="java.lang.String">
   		SELECT  c.* ,b.cus_no as cusNo,b.type,b.id as bid,b.imgPath
		FROM book_cus_info b 
		  LEFT JOIN customer c 
		    ON b.`cus_no` = c.`id` 
		WHERE b.`order_no`=#{orderNo} ORDER BY b.`type` DESC
   </select>
   
   <select id="getProductOrderBySupplierNo" resultType="Map" parameterType="Map">
	<!-- SELECT r.`order_no`,r.order_nm,r.`ctdt`,r.`updt`,r.`amount`,r.`status`,c.`customerName` 
		,r.`ctdt`,r.`updt` FROM route_order r LEFT JOIN customer c ON r.`cus_no` 
		= c.`id` LEFT JOIN product_order po ON r.`order_no`=po.`order_no` WHERE r.`del_flg`=0 
		AND po.`supplier_no`=#{supplierId} -->
	SELECT
		po.`order_no`,po.`pid`,po.`pname`,po.`ctdt`,
		po.`confirm_status`,po.`confirm_time`,
		SUBSTRING(SEC_TO_TIME((po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW())),1)AS surplusTime ,
		(po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW())-30*60 AS status
	FROM product_order po
		WHERE po.`supplier_no` = #{supplierNo}
		<if test="confirmStatus!=null and confirmStatus!=''">
			AND po.`confirm_status` = #{confirmStatus}
		</if>
		<if test="confirmTime!=null and confirmTime!=''">
			AND po.`confirm_time` = #{confirm_time}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			AND po.`order_no` = #{orderNo}
		</if>
		<if test="surplusTime!=null and surplusTime!=''">
	  		<![CDATA[ AND ( (po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW())) < #{surplusTime} * 60 * 60 ]]>
		</if>
		ORDER BY (po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW()) ASC
	</select>
   <select id="getCountBySupplierNo" resultType="java.lang.Integer" parameterType="Map">
   		SELECT count(*)
	FROM product_order po
		WHERE po.`supplier_no` = #{supplierNo}
		<if test="confirmStatus!=null and confirmStatus!=''">
			AND po.`confirm_status` = #{confirmStatus}
		</if>
		<if test="confirmTime!=null and confirmTime!=''">
			AND po.`confirm_time` = #{confirmTime}
		</if>
		<if test="orderNo!=null and orderNo!=''">
			AND po.`order_no` = #{orderNo}
		</if>
		<if test="surplusTime!=null and surplusTime!=''">
	  		<![CDATA[ AND ( (po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW())) < #{surplusTime} * 60 * 60 ]]>
		</if>
		ORDER BY (po.`confirm_time`) * 60 * 60- TIMESTAMPDIFF(SECOND, po.`ctdt`, NOW()) ASC
   </select>
   
    <select id="getSupplierOrderInfo" parameterType="java.lang.String" resultType="Map">
   		SELECT  ro.`enddate`,po.`pname`,po.confirm_status as confirmStatus,po.`confirm_img` AS confirmImg ,SUM(pod.`peoplecnt`) AS peoplecnt,SUM(pod.`unit_price`) AS unitPrice,SUM(pod.`amount`) AS amount,ro.`order_no` AS orderNo,pod.`pid`,po.`runing_no` as runingNo 
		FROM product_order po 
		  LEFT JOIN route_order ro 
		    ON ro.`order_no` = po.`order_no` 
		  LEFT JOIN product_order_detail pod
		    ON po.`pid`=pod.`pid`
	    WHERE  po.`supplier_no`=#{supplierId} AND po.`order_no`=#{orderNo} AND po.pid=#{pid}
   </select>
   
   <update id="updateProductOrder" parameterType="com.rockies.model.ProductOrder">
   	update product_order
   	<set>
   		<if test="confirmStatus!=null and confirmStatus!=''">
   			confirm_status=#{confirmStatus},
   		</if>
   		<if test="confirmImg!=null and confirmImg!=''">
   			confirm_img=#{confirmImg},
   		</if>
   		<if test="upuser!=null and upuser!=''">
   			upuser=#{upuser},
   		</if>
   		<if test="updt!=null and updt!=''">
   			updt=#{updt}
   		</if>
   		where runing_no=#{runingNo} and pid=#{pid} and order_no=#{orderNo}
   	</set>
   </update>
  
  <delete id="deleteProductOrder" parameterType="java.lang.String">
  delete from product_order where order_no=#{orderNo}
  </delete>
</mapper>