<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rockies.mapper.RoomTypeInfoMapper">
	<resultMap id="BaseResultMap" type="com.rockies.model.RoomTypeInfo">
		<id column="pid" property="pid" jdbcType="VARCHAR" />
		<id column="room_type" property="roomType" jdbcType="VARCHAR" />
		<result column="room_type_name" property="roomTypeName"
			jdbcType="VARCHAR" />
		<result column="room_status" property="roomStatus" jdbcType="CHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="del_flg" property="delFlg" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" jdbcType="INTEGER" />
		<result column="room_img1" property="roomImg1" jdbcType="VARCHAR" />
		<result column="room_img2" property="roomImg2" jdbcType="VARCHAR" />
		<result column="room_img3" property="roomImg3" jdbcType="VARCHAR" />
		<result column="room_img4" property="roomImg4" jdbcType="VARCHAR" />
		<result column="room_img5" property="roomImg5" jdbcType="VARCHAR" />
		<result column="room_img6" property="roomImg6" jdbcType="VARCHAR" />
		<result column="room_img7" property="roomImg7" jdbcType="VARCHAR" />
		<result column="room_infra" property="roomInfra" jdbcType="VARCHAR" />
		<result column="adult_cnt" property="adultCnt" jdbcType="INTEGER" />
		<result column="child_cnt" property="childCnt" jdbcType="INTEGER" />
		<result column="max_extrabed" property="maxExtrabed" jdbcType="INTEGER" />
		<result column="show_inpage" property="showInpage" jdbcType="VARCHAR" />
		<result column="ctdt" property="ctdt" jdbcType="TIMESTAMP" />
		<result column="ctuser" property="ctuser" jdbcType="VARCHAR" />
		<result column="updt" property="updt" jdbcType="TIMESTAMP" />
		<result column="upuser" property="upuser" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		pid, room_type, room_type_name, room_status, description,
		del_flg,
		order_num, room_img1, room_img2, room_img3,
		room_img4,
		room_img5, room_img6, room_img7, room_infra, adult_cnt, child_cnt,
		max_extrabed,
		show_inpage, ctdt, ctuser, updt, upuser
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="com.rockies.model.RoomTypeInfo">
		select
		<include refid="Base_Column_List" />
		from room_type
		where pid = #{pid,jdbcType=VARCHAR}
		and room_type =
		#{roomType,jdbcType=VARCHAR}
	</select>

	<select id="selectRoomPriceByParam" resultType="Map"
		parameterType="Map">
		SELECT
		room_type.pid,
		room_type.room_type,
		room_type.room_type_name,
		room_type.room_status,
		room_type.description,
		room_type.del_flg,
		room_type.order_num,
		room_type.room_img1,
		room_type.room_img2,
		room_type.room_img3,
		room_type.room_img4,
		room_type.room_img5,
		room_type.room_img6,
		room_type.room_img7,
		room_type.room_infra,
		room_type.adult_cnt,
		room_type.child_cnt,
		room_type.max_extrabed,
		room_price.starttime,
		room_price.enddate,
		room_price.price_item,
		room_price.price_group,
		room_price.room_price,
		room_price.people_cnt,
		room_price.max_cnt,
		room_price.prepay,
		room_price.description,
		room_price.del_flg,
		room_price.order_num,
		room_price.id
		FROM
		room_type,
		room_price
		WHERE
		room_type.pid = room_price.pid
		AND
		room_type.room_type =
		room_price.room_type
		<if test="pid!=null and pid != ''">
			AND room_type.pid = #{pid}
		</if>
	</select>

	<select id="selectAllListByParam" resultMap="BaseResultMap"
		parameterType="Map">
		select
		<include refid="Base_Column_List" />
		from room_type
		<where>
			del_flg=0
			<if test="roomTypeName!=null and roomTypeName != ''">
				and room_type_name like
				"%"#{roomTypeName,jdbcType=VARCHAR}"%"
			</if>
			<if test="pid !=null and pid != ''">
				and pid = #{pid,jdbcType=VARCHAR}
			</if>
		</where>
		order by order_num
		<if test="offset!=null and limit != ''">
			limit #{offset},#{limit};
		</if>
	</select>
	<select id="selectRoomInfoByParam" resultType="Map"
		parameterType="Map">
		SELECT p.pname as pname, p.pname_en as panmeEn ,
		rt.room_type as
		roomType, rt.pid as pid,rt.room_type_name as roomTypeName
		FROM
		room_type as rt
		left join hotel as h on h.pid = rt.pid
		left join product
		as p on p.pid = rt.pid
		<where>
			rt.del_flg=0
			<if test="roomType !=null and roomType != ''">
				and rt.room_type = #{roomType,jdbcType=VARCHAR}
			</if>
			<if test="pid !=null and pid != ''">
				and rt.pid = #{pid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="getCount" parameterType="Map" resultType="java.lang.Integer">
		select count(*) from room_type
		<where>
			del_flg=0
			<if test="roomTypeName!=null and roomTypeName != ''">
				and room_type_name like
				"%"#{roomTypeName,jdbcType=VARCHAR}"%"
			</if>
			<if test="pid !=null and pid != ''">
				and pid = #{pid,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="com.rockies.model.RoomTypeInfo">
		delete from
		room_type
		where pid = #{pid,jdbcType=VARCHAR}
		and room_type =
		#{roomType,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.rockies.model.RoomTypeInfo">
		<selectKey keyProperty="roomType" resultType="String" order="BEFORE">
			select
			IFNULL(CONCAT('RT',
			LPAD(RIGHT(MAX(room_type),18)+2,18,'0')),'RT000000000000000001') as
			roomType
			from room_type
		</selectKey>
		insert into room_type (pid, room_type, room_type_name, room_status,
		description,
		del_flg, order_num, room_img1,
		room_img2, room_img3,
		room_img4,
		room_img5, room_img6, room_img7,
		room_infra, adult_cnt,
		child_cnt,
		max_extrabed, show_inpage, ctdt,
		ctuser, updt, upuser
		)
		values
		(#{pid,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR},
		#{roomTypeName,jdbcType=VARCHAR}, #{roomStatus,jdbcType=CHAR},
		#{description,jdbcType=VARCHAR},
		0, #{orderNum,jdbcType=INTEGER},
		#{roomImg1,jdbcType=VARCHAR},
		#{roomImg2,jdbcType=VARCHAR},
		#{roomImg3,jdbcType=VARCHAR},
		#{roomImg4,jdbcType=VARCHAR},
		#{roomImg5,jdbcType=VARCHAR}, #{roomImg6,jdbcType=VARCHAR},
		#{roomImg7,jdbcType=VARCHAR},
		#{roomInfra,jdbcType=VARCHAR},
		#{adultCnt,jdbcType=INTEGER},
		#{childCnt,jdbcType=INTEGER},
		#{maxExtrabed,jdbcType=INTEGER}, #{showInpage,jdbcType=VARCHAR},
		#{ctdt,jdbcType=TIMESTAMP},
		#{ctuser,jdbcType=VARCHAR},
		#{updt,jdbcType=TIMESTAMP},
		#{upuser,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.rockies.model.RoomTypeInfo">
		<selectKey keyProperty="room_type" resultType="String"
			order="BEFORE">
			select
			IFNULL(CONCAT('RT',
			LPAD(RIGHT(MAX(room_type),18)+2,18,'0')),'RT000000000000000001') as
			room_type
			from product
		</selectKey>
		insert into room_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				pid,
			</if>
			<if test="roomType != null">
				room_type,
			</if>
			<if test="roomTypeName != null">
				room_type_name,
			</if>
			<if test="roomStatus != null">
				room_status,
			</if>
			<if test="description != null">
				description,
			</if>
			del_flg,
			<if test="orderNum != null">
				order_num,
			</if>
			<if test="roomImg1 != null">
				room_img1,
			</if>
			<if test="roomImg2 != null">
				room_img2,
			</if>
			<if test="roomImg3 != null">
				room_img3,
			</if>
			<if test="roomImg4 != null">
				room_img4,
			</if>
			<if test="roomImg5 != null">
				room_img5,
			</if>
			<if test="roomImg6 != null">
				room_img6,
			</if>
			<if test="roomImg7 != null">
				room_img7,
			</if>
			<if test="roomInfra != null">
				room_infra,
			</if>
			<if test="adultCnt != null">
				adult_cnt,
			</if>
			<if test="childCnt != null">
				child_cnt,
			</if>
			<if test="maxExtrabed != null">
				max_extrabed,
			</if>
			<if test="showInpage != null">
				show_inpage,
			</if>
			<if test="ctdt != null">
				ctdt,
			</if>
			<if test="ctuser != null">
				ctuser,
			</if>
			<if test="updt != null">
				updt,
			</if>
			<if test="upuser != null">
				upuser,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">
				#{pid,jdbcType=VARCHAR},
			</if>
			<if test="roomType != null">
				#{roomType,jdbcType=VARCHAR},
			</if>
			<if test="roomTypeName != null">
				#{roomTypeName,jdbcType=VARCHAR},
			</if>
			<if test="roomStatus != null">
				#{roomStatus,jdbcType=CHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			0,
			<if test="orderNum != null">
				#{orderNum,jdbcType=INTEGER},
			</if>
			<if test="roomImg1 != null">
				#{roomImg1,jdbcType=VARCHAR},
			</if>
			<if test="roomImg2 != null">
				#{roomImg2,jdbcType=VARCHAR},
			</if>
			<if test="roomImg3 != null">
				#{roomImg3,jdbcType=VARCHAR},
			</if>
			<if test="roomImg4 != null">
				#{roomImg4,jdbcType=VARCHAR},
			</if>
			<if test="roomImg5 != null">
				#{roomImg5,jdbcType=VARCHAR},
			</if>
			<if test="roomImg6 != null">
				#{roomImg6,jdbcType=VARCHAR},
			</if>
			<if test="roomImg7 != null">
				#{roomImg7,jdbcType=VARCHAR},
			</if>
			<if test="roomInfra != null">
				#{roomInfra,jdbcType=VARCHAR},
			</if>
			<if test="adultCnt != null">
				#{adultCnt,jdbcType=INTEGER},
			</if>
			<if test="childCnt != null">
				#{childCnt,jdbcType=INTEGER},
			</if>
			<if test="maxExtrabed != null">
				#{maxExtrabed,jdbcType=INTEGER},
			</if>
			<if test="showInpage != null">
				#{showInpage,jdbcType=VARCHAR},
			</if>
			<if test="ctdt != null">
				#{ctdt,jdbcType=TIMESTAMP},
			</if>
			<if test="ctuser != null">
				#{ctuser,jdbcType=VARCHAR},
			</if>
			<if test="updt != null">
				#{updt,jdbcType=TIMESTAMP},
			</if>
			<if test="upuser != null">
				#{upuser,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.rockies.model.RoomTypeInfo">
		update room_type
		<set>
			<if test="roomTypeName != null">
				room_type_name = #{roomTypeName,jdbcType=VARCHAR},
			</if>
			<if test="roomStatus != null">
				room_status = #{roomStatus,jdbcType=CHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="delFlg != null">
				del_flg = #{delFlg,jdbcType=VARCHAR},
			</if>
			<if test="orderNum != null">
				order_num = #{orderNum,jdbcType=INTEGER},
			</if>
			<if test="roomImg1 != null">
				room_img1 = #{roomImg1,jdbcType=VARCHAR},
			</if>
			<if test="roomImg2 != null">
				room_img2 = #{roomImg2,jdbcType=VARCHAR},
			</if>
			<if test="roomImg3 != null">
				room_img3 = #{roomImg3,jdbcType=VARCHAR},
			</if>
			<if test="roomImg4 != null">
				room_img4 = #{roomImg4,jdbcType=VARCHAR},
			</if>
			<if test="roomImg5 != null">
				room_img5 = #{roomImg5,jdbcType=VARCHAR},
			</if>
			<if test="roomImg6 != null">
				room_img6 = #{roomImg6,jdbcType=VARCHAR},
			</if>
			<if test="roomImg7 != null">
				room_img7 = #{roomImg7,jdbcType=VARCHAR},
			</if>
			<if test="roomInfra != null">
				room_infra = #{roomInfra,jdbcType=VARCHAR},
			</if>
			<if test="adultCnt != null">
				adult_cnt = #{adultCnt,jdbcType=INTEGER},
			</if>
			<if test="childCnt != null">
				child_cnt = #{childCnt,jdbcType=INTEGER},
			</if>
			<if test="maxExtrabed != null">
				max_extrabed = #{maxExtrabed,jdbcType=INTEGER},
			</if>
			<if test="showInpage != null">
				show_inpage = #{showInpage,jdbcType=VARCHAR},
			</if>
			<if test="ctdt != null">
				ctdt = #{ctdt,jdbcType=TIMESTAMP},
			</if>
			<if test="ctuser != null">
				ctuser = #{ctuser,jdbcType=VARCHAR},
			</if>
			<if test="updt != null">
				updt = #{updt,jdbcType=TIMESTAMP},
			</if>
			<if test="upuser != null">
				upuser = #{upuser,jdbcType=VARCHAR},
			</if>
		</set>
		where pid = #{pid,jdbcType=VARCHAR}
		and room_type =
		#{roomType,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.rockies.model.RoomTypeInfo">
		update room_type
		set room_type_name = #{roomTypeName,jdbcType=VARCHAR},
		room_status =
		#{roomStatus,jdbcType=CHAR},
		description =
		#{description,jdbcType=VARCHAR},
		del_flg = #{delFlg,jdbcType=VARCHAR},
		order_num = #{orderNum,jdbcType=INTEGER},
		room_img1 =
		#{roomImg1,jdbcType=VARCHAR},
		room_img2 = #{roomImg2,jdbcType=VARCHAR},
		room_img3 = #{roomImg3,jdbcType=VARCHAR},
		room_img4 =
		#{roomImg4,jdbcType=VARCHAR},
		room_img5 = #{roomImg5,jdbcType=VARCHAR},
		room_img6 = #{roomImg6,jdbcType=VARCHAR},
		room_img7 =
		#{roomImg7,jdbcType=VARCHAR},
		room_infra =
		#{roomInfra,jdbcType=VARCHAR},
		adult_cnt =
		#{adultCnt,jdbcType=INTEGER},
		child_cnt = #{childCnt,jdbcType=INTEGER},
		max_extrabed = #{maxExtrabed,jdbcType=INTEGER},
		show_inpage =
		#{showInpage,jdbcType=VARCHAR},
		ctdt = #{ctdt,jdbcType=TIMESTAMP},
		ctuser = #{ctuser,jdbcType=VARCHAR},
		updt = #{updt,jdbcType=TIMESTAMP},
		upuser = #{upuser,jdbcType=VARCHAR}
		where pid = #{pid,jdbcType=VARCHAR}
		and room_type = #{roomType,jdbcType=VARCHAR}
	</update>
</mapper>