<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:util="http://www.springframework.org/schema/util"  
    xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd  
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd "> 
		
	<context:annotation-config />
	
	<mvc:annotation-driven/>	


	<mvc:interceptors>
		<mvc:interceptor>
            <mvc:mapping path="/**" />  
			<bean class="com.rockies.ec.filter.HandlerLoginFilter">
				 <property name="excludedUrls">
                <list>
                    <value>/tologin.html</value>
                    <value>/login.html</value>
                </list>
            </property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> 
	
	
	
	<context:component-scan base-package="com.rockies.ec" />
	 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" /> 
	</bean>	    

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >

    	<property name="maxUploadSize" value="40000000"/>
    </bean>


    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
        <property name="exceptionMappings"> 
            <props> 

                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop> 
            </props> 
        </property> 
    </bean> 
    
<aop:aspectj-autoproxy proxy-target-class="true"/>
	
    <!-- 使用spring的事务管理 -->
    <bean name="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
  
	<!-- 申明事务通知 -->  
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
		   <tx:method name="do*" propagation="REQUIRED" rollback-for="Exception"  />
           <tx:method name="DO*" propagation="REQUIRED" rollback-for="Exception" />
           <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"  />
           <tx:method name="set*" propagation="REQUIRED" rollback-for="Exception"  />
           <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception" />
           <tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception" />
           <tx:method name="get*" read-only="true" />
           <!-- <tx:method name="*" read-only="true" /> -->
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(public * com.rockies.ec.services.impl.*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config>
	
</beans> 

