<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.ec.mapper.BookCusInfoMapper">
    <resultMap id="bookCusInfo" type="com.rockies.ec.model.BookCusInfo" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
	    <result column="cus_no" property="cusNo" jdbcType="VARCHAR" />
	    <result column="imgPath" property="imgPath" jdbcType="VARCHAR" />
	    <result column="ctdt" property="ctdt" jdbcType="TIMESTAMP" />
	    <result column="ctuser" property="ctuser" jdbcType="VARCHAR" />
	    <result column="updt" property="updt" jdbcType="TIMESTAMP" />
	    <result column="upuser" property="upuser" jdbcType="VARCHAR" />
	    <result column="type" property="type" jdbcType="INTEGER" />
	</resultMap>
    <sql id="Base_Column_List" >
	    `order_no`, `cus_no`,imgPath,
         `ctdt`,`ctuser`,`updt`,`upuser`,`type`
   </sql>
   
   <insert id="saveBookCusInfo" parameterType="com.rockies.ec.model.BookCusInfo">
    INSERT INTO book_cus_info (<include refid="Base_Column_List" />)
	VALUES (#{orderNo}, #{cusNo},#{imgPath},
         	#{ctdt},#{ctuser},#{updt},#{upuser},#{type}
         );   
   </insert>
   <update id="updateBookCusInfo" parameterType="com.rockies.ec.model.BookCusInfo">
   	update book_cus_info 
   	<set>
   		<if test="imgPath!=null and imgPath!=''">
   			imgPath=#{imgPath},
   		</if>
   		<if test="type!=null">
   			type=#{type},
   		</if>
   		<if test="upuser!=null and upuser!=''">
   			upuser=#{upuser},
   		</if>
   		<if test="updt!=null">
   			updt=#{updt}
   		</if>
   	</set>
   	where order_no=#{orderNo}  and cus_no=#{cusNo} and id=#{id}
   </update>
   
    <select id="getBabyCount" resultType="java.lang.Integer" parameterType="java.lang.String">
   <![CDATA[ 
		SELECT COUNT(*) FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()<=c.`birthday`+INTERVAL 2 YEAR
	]]>  
   </select>
    <select id="getBaby" resultType="Map"  parameterType="java.lang.String">
   <![CDATA[ 
		SELECT c.* ,bc.cus_no as cusNo,bc.type,bc.id as bid,bc.imgPath,bc.`order_no` AS orderNo  FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()<=c.`birthday`+INTERVAL 2 YEAR
	]]>  
   </select>
   
   <select id="getChildCount" resultType="java.lang.Integer" parameterType="java.lang.String">
   <![CDATA[ 
		SELECT COUNT(*) FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()>=c.`birthday`+INTERVAL 2 YEAR AND NOW()<c.`birthday`+INTERVAL 12 YEAR
	]]>  
   </select>
   
   <select id="getChild" resultType="Map"  parameterType="java.lang.String">
   <![CDATA[ 
		SELECT  c.* ,bc.cus_no as cusNo,bc.type,bc.id as bid,bc.imgPath,bc.`order_no` AS orderNo   FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()>=c.`birthday`+INTERVAL 2 YEAR AND NOW()<c.`birthday`+INTERVAL 12 YEAR
	]]>  
   </select>
   
   <select id="getAdultCount" resultType="java.lang.Integer" parameterType="java.lang.String">
   <![CDATA[ 
		SELECT COUNT(*) FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()>=c.`birthday`+INTERVAL 12 YEAR 
	]]>  
   </select>
   
   <select id="getAdult" resultType="Map"  parameterType="java.lang.String">
   <![CDATA[ 
		SELECT  c.* ,bc.cus_no as cusNo,bc.type,bc.id as bid,bc.imgPath,bc.`order_no` AS orderNo   FROM book_cus_info bc  LEFT JOIN customer c ON bc.`cus_no` = c.`id` 
		WHERE bc.order_no =#{orderNo}  AND NOW()>=c.`birthday`+INTERVAL 12 YEAR 
	]]>  
   </select>
</mapper>