<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.rockies.ec.mapper.EvaluationMapper">
    
    <!-- 添加 返回主键id -->
    <insert id="insert" parameterType="com.rockies.ec.model.Evaluation" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO evaluation(customerName,productId,accountnumber,core,content,ctdt,ctuser,updt,upuser) 
    	values(#{customerName},#{productId},#{accountnumber},#{core},#{content},#{ctdt},#{ctuser},#{updt},#{upuser})
    </insert>
    
    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    	delete from evaluation where id=#{id}
    </delete>
    
    <!-- 获取对象集合 -->
    <select id="getAllList" resultType="com.rockies.ec.model.Evaluation">
    	select * from evaluation
    </select>
    
    <!-- 获取对象集合 parameterType="Map" 选择是否分页-->
    <select id="getAllListByMap" resultType="com.rockies.ec.model.Evaluation" parameterType="Map">
    	select * from evaluation
    	<where>
    		1=1
			<if test="customerName!=null">
		  		and customerName=#{customerName}
			</if>
			<if test="productId!=null and productId!=''">
		  		and productId=#{productId}
			</if>
			<if test="ctdt!=null and ctdd!=''">
				and ctdt=#{ctdt}
			</if>
			<if test="ctuser!=null and ctuser!=''">
				and ctuser=#{ctuser}
			</if>
			<if test="upuser!=null">
				and upuser=#{upuser}
			</if>
			<if test="updt!=null and updt!=''">
				and updt=#{updt}
			</if>
    	</where>
		<if test="offset!=null and limit!=null">
			limit #{offset},#{limit}
		</if>
    </select>
    
    
    <!-- 获取map集合  parameterType="Map" 分页-->
    <select id="getAllListMap" resultType="Map" parameterType="Map">
    	SELECT e.id,e.`customerName`, e.`productId`,e.`accountnumber`,e.`core`,e.`content`,e.`ctuser`,e.`ctdt`,e.`updt`,e.`upuser`,p.pname,p.pid 
FROM evaluation e LEFT JOIN product p ON p.`pid` = e.`productId`
		  <where>
		  	1=1
		  	<if test="customerName!=null">
		  	 AND e.`customerName` LIKE "%${customerName}%" 
		  	</if>
		  	<if test="minCore!=null and minCore!=''">
		  		<![CDATA[
		  		AND e.core>=#{minCore}
		  		]]>   
		  	</if>
		  	<if test="maxCore!=null and maxCore!=''">
		  	<![CDATA[
		  		AND e.core<=#{maxCore}
		  		]]>   
		  	</if>
		  	<if test="productType!=null and productType!=''">
		  		AND p.ptype =#{productType}
		  	</if>
		  </where>
		<if test="offset!=null and limit!=null">
			limit #{offset},#{limit}
		</if>
    </select>
    
    <!-- 根据主键获取一个对象-->
    <select id="getOneByPrimaryKey" resultType="com.rockies.ec.model.Evaluation" parameterType="java.lang.Integer">
    	select * from evaluation where id=#{id}
    </select>
    
    <!-- 总记录数-->
    <select id="getCount" resultType="java.lang.Long" parameterType="Map">
    	SELECT count(*) FROM evaluation e LEFT JOIN product p ON p.`pid` = e.`productId`
		  <where>
		  	1=1
		  	<if test="customerName!=null">
		  	 AND e.`customerName` LIKE "%${customerName}%" 
		  	</if>
		  	<if test="minCore!=null and minCore!=''">
		  		<![CDATA[
		  		AND e.core>=#{minCore}
		  		]]>   
		  	</if>
		  	<if test="maxCore!=null and maxCore!=''">
		  	<![CDATA[
		  		AND e.core<=#{maxCore}
		  		]]>   
		  	</if>
		  	<if test="productType!=null and productType!=''">
		  		AND p.ptype =#{productType}
		  	</if>
		  </where>
    </select>
    
    <update id="updateObject"  parameterType="Map">
    	update evaluation 
		<set>
			<if test="customerName!=null">
		  		customerName=#{customerName},
			</if>
			<if test="productId!=null">
		  		productId=#{productId},
			</if>
			<if test="accountnumber!=null">
		  		accountnumber=#{accountnumber},
			</if>
			<if test="core!=null">
		  		core=#{core},
			</if>
			<if test="content!=null">
		  		content=#{content},
			</if>
			<if test="ctdt!=null">
				ctdt=#{ctdt},
			</if>
			<if test="ctuser!=null">
				ctuser=#{ctuser},
			</if>
			<if test="upuser!=null">
				upuser=#{upuser},
			</if>
			<if test="updt!=null">
				updt=#{updt}
			</if>
		</set>
		where id=#{id}
    </update>
    
</mapper>