<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rockies.ec.mapper.ProductTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.rockies.ec.model.ProductTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="ptypeCode" property="ptypeCode" jdbcType="VARCHAR" />
    <result column="temp_name" property="tempName" jdbcType="VARCHAR" />
    <result column="temp_content" property="tempContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ptype,ptypeCode, temp_name, temp_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllListByParam" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from product_template
    <if test="offset!=null and limit != ''">
	  limit #{offset},#{limit};
	</if>
  </select>
  <select id="getCount"  parameterType="Map" resultType="java.lang.Integer" >
	select  count(*) from product_template
  </select>
  <select id="selectByPtypeAndCode" resultType="Map" parameterType="Map"  >
    select 
    <include refid="Base_Column_List" />
    from product_template
    <where>
    	<if test="ptype !=null and ptype != ''">
		  and ptype = #{ptype,jdbcType=VARCHAR}
		</if>
    	<if test="ptypeCode !=null and ptypeCode != ''">
		  and ptypeCode = #{ptypeCode,jdbcType=VARCHAR}
		</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rockies.ec.model.ProductTemplate" >
    insert into product_template (id, ptype,ptypeCode, temp_name, 
      temp_content)
    values (#{id,jdbcType=INTEGER}, #{ptype,jdbcType=VARCHAR}, #{ptypeCode,jdbcType=VARCHAR}, #{tempName,jdbcType=VARCHAR}, 
      #{tempContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rockies.ec.model.ProductTemplate" >
    insert into product_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="ptypeCode != null" >
        ptypeCode,
      </if>
      <if test="tempName != null" >
        temp_name,
      </if>
      <if test="tempContent != null" >
        temp_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="ptypeCode != null" >
        #{ptypeCode,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="tempContent != null" >
        #{tempContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rockies.ec.model.ProductTemplate" >
    update product_template
    <set >
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="ptypeCode != null" >
        ptypeCode = #{ptypeCode,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        temp_name = #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="tempContent != null" >
        temp_content = #{tempContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rockies.ec.model.ProductTemplate" >
    update product_template
    set ptype = #{ptype,jdbcType=VARCHAR},
      ptypeCode = #{ptypeCode,jdbcType=VARCHAR},
      temp_name = #{tempName,jdbcType=VARCHAR},
      temp_content = #{tempContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>