<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rockies.ec.mapper.TrafficCharteredPriceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="valid_starttime" property="validStarttime" jdbcType="VARCHAR" />
    <result column="carbrand" property="carbrand" jdbcType="VARCHAR" />
    <result column="valid_endtime" property="validEndtime" jdbcType="VARCHAR" />
    <result column="maxpeople" property="maxpeople" jdbcType="INTEGER" />
    <result column="luggage" property="luggage" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="prepay" property="prepay" jdbcType="DECIMAL" />
    <result column="hour_cnt" property="hourCnt" jdbcType="INTEGER" />
    <result column="car_img" property="carImg" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
    <result column="ctdt" property="ctdt" jdbcType="TIMESTAMP" />
    <result column="ctuser" property="ctuser" jdbcType="VARCHAR" />
    <result column="updt" property="updt" jdbcType="TIMESTAMP" />
    <result column="upuser" property="upuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, valid_starttime, carbrand, valid_endtime, maxpeople, luggage, price, prepay, 
    hour_cnt, car_img, del_flg, order_num, ctdt, ctuser, updt, upuser,id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    select 
    <include refid="Base_Column_List" />
    from traffic_chartered_price
    where pid = #{pid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllListByParam" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from traffic_chartered_price
    <where>
    	del_flg=0
    	<if test="carbrand !=null  and carbrand != ''">
		  and carbrand like "%"#{carbrand,jdbcType=VARCHAR}"%" 
		</if>
		<if test="pid !=null and pid != ''">
		  and pid = #{pid,jdbcType=VARCHAR}
		</if>
		<if test="id !=null and id != ''">
		  and id = #{id,jdbcType=VARCHAR}
		</if>
    </where>
    order by order_num
    <if test="offset!=null and limit != ''">
	  limit #{offset},#{limit};
	</if>
  </select>
  <select id="getCount"  parameterType="Map" resultType="java.lang.Integer" >
	select  count(*) from traffic_chartered_price
	<where>
		del_flg=0
    	<if test="carbrand !=null  and carbrand != ''">
		  and carbrand like "%"#{carbrand,jdbcType=VARCHAR}"%" 
		</if>
		<if test="pid !=null and pid != ''">
		  and pid = #{pid,jdbcType=VARCHAR}
		</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    delete from traffic_chartered_price
    where pid = #{pid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    insert into traffic_chartered_price (pid, valid_starttime, carbrand, 
      valid_endtime, maxpeople, luggage, 
      price, prepay, hour_cnt, 
      car_img, del_flg, order_num, 
      ctdt, ctuser, updt, 
      upuser)
    values (#{pid,jdbcType=VARCHAR}, #{validStarttime,jdbcType=VARCHAR}, #{carbrand,jdbcType=VARCHAR}, 
      #{validEndtime,jdbcType=VARCHAR}, #{maxpeople,jdbcType=INTEGER}, #{luggage,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{prepay,jdbcType=DECIMAL}, #{hourCnt,jdbcType=INTEGER}, 
      #{carImg,jdbcType=VARCHAR}, #{delFlg,jdbcType=VARCHAR}, #{orderNum,jdbcType=INTEGER}, 
      #{ctdt,jdbcType=TIMESTAMP}, #{ctuser,jdbcType=VARCHAR}, #{updt,jdbcType=TIMESTAMP}, 
      #{upuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    insert into traffic_chartered_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="validStarttime != null" >
        valid_starttime,
      </if>
      <if test="carbrand != null" >
        carbrand,
      </if>
      <if test="validEndtime != null" >
        valid_endtime,
      </if>
      <if test="maxpeople != null" >
        maxpeople,
      </if>
      <if test="luggage != null" >
        luggage,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="prepay != null" >
        prepay,
      </if>
      <if test="hourCnt != null" >
        hour_cnt,
      </if>
      <if test="carImg != null" >
        car_img,
      </if>
      <if test="delFlg != null" >
        del_flg,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="ctdt != null" >
        ctdt,
      </if>
      <if test="ctuser != null" >
        ctuser,
      </if>
      <if test="updt != null" >
        updt,
      </if>
      <if test="upuser != null" >
        upuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="validStarttime != null" >
        #{validStarttime,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null" >
        #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="validEndtime != null" >
        #{validEndtime,jdbcType=VARCHAR},
      </if>
      <if test="maxpeople != null" >
        #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="luggage != null" >
        #{luggage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="prepay != null" >
        #{prepay,jdbcType=DECIMAL},
      </if>
      <if test="hourCnt != null" >
        #{hourCnt,jdbcType=INTEGER},
      </if>
      <if test="carImg != null" >
        #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="ctdt != null" >
        #{ctdt,jdbcType=TIMESTAMP},
      </if>
      <if test="ctuser != null" >
        #{ctuser,jdbcType=VARCHAR},
      </if>
      <if test="updt != null" >
        #{updt,jdbcType=TIMESTAMP},
      </if>
      <if test="upuser != null" >
        #{upuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    update traffic_chartered_price
    <set >
      <if test="validStarttime != null" >
        valid_starttime = #{validStarttime,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null" >
        carbrand = #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="validEndtime != null" >
        valid_endtime = #{validEndtime,jdbcType=VARCHAR},
      </if>
      <if test="maxpeople != null" >
        maxpeople = #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="luggage != null" >
        luggage = #{luggage,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="prepay != null" >
        prepay = #{prepay,jdbcType=DECIMAL},
      </if>
      <if test="hourCnt != null" >
        hour_cnt = #{hourCnt,jdbcType=INTEGER},
      </if>
      <if test="carImg != null" >
        car_img = #{carImg,jdbcType=VARCHAR},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="ctdt != null" >
        ctdt = #{ctdt,jdbcType=TIMESTAMP},
      </if>
      <if test="ctuser != null" >
        ctuser = #{ctuser,jdbcType=VARCHAR},
      </if>
      <if test="updt != null" >
        updt = #{updt,jdbcType=TIMESTAMP},
      </if>
      <if test="upuser != null" >
        upuser = #{upuser,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rockies.ec.model.TrafficCharteredPriceInfo" >
    update traffic_chartered_price
    set 
      valid_starttime = #{validStarttime,jdbcType=VARCHAR},
      carbrand = #{carbrand,jdbcType=VARCHAR},
      valid_endtime = #{validEndtime,jdbcType=VARCHAR},
      maxpeople = #{maxpeople,jdbcType=INTEGER},
      luggage = #{luggage,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      prepay = #{prepay,jdbcType=DECIMAL},
      hour_cnt = #{hourCnt,jdbcType=INTEGER},
      car_img = #{carImg,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      ctdt = #{ctdt,jdbcType=TIMESTAMP},
      ctuser = #{ctuser,jdbcType=VARCHAR},
      updt = #{updt,jdbcType=TIMESTAMP},
      upuser = #{upuser,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>